<div class=" container">
  <%= link_to 'Add Site', new_user_site_path(current_user), class:"btn btn-lg btn-success btn-block" if current_user %>
</div>
<% @sites.each do |site| %>
  <% if current_user %>
    <br>
    <div class="float-right pr-4">
      <%= link_to "Posted by: #{site.user.email}", user_sites_path(site.user) unless site.user.email == current_user.email %>
    </div>
  <% else %>
    <div class="float-right pr-4">
      <%= link_to "Posted by: #{site.user.email}", user_sites_path(site.user) %>
    </div>
  <% end %>
  <div class="container p-4 pt-4">
    <div class=" pb-4">
        <div class="text-center p-4 border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200">
          <div class="">
            <img src="<%= site.thumbnail_link %>" alt="site-thumbnail" class="center">
          </div>
          <br>
          <div class="p-2" style="font-size:150%;" >
            <!-- <%= link_to site.title, url_for(site.link), :target => "_blank" %> -->
            <%= link_to site.title, site %>
          </div>
          <div>
            <%= site.description %>
          </div>
          <br>
          <div>
            <strong>Keywords:</strong>
            <%= site.keyword_list %>
          </div>
          <br>
          <div>
            <%= link_to 'View', site, class:"btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
