<div class="pb-4 container">
  <%= link_to 'Add Site', new_user_site_path(current_user), class:"btn btn-success btn-block" %>
  <%#= render "form_modal" %>

</div>

<% @sites.each do |site| %>
  <div class="container pb-4">
      <div class="text-center p-4 border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200">
        <div style="font-size:150%;" >
           <%= link_to site.title, url_for(site.link), :target => "_blank" %>
        </div>
        <div>
          <img src="<%= site.thumbnail_link %>" alt="site-thumbnail" class="center">
        </div>
        <div>
          <%= site.description %>
        </div>
        <br>
        <div>
          <%= site.keyword_list %>
        </div>
        <br>
        <div>
          <%= link_to 'View', site, class:"btn btn-success" %>
        </div>
      </div>
  </div>
<% end %>
